/Shopping/.vs/*
/Shopping/bin/*
/Shopping/obj/*
/ShoppingTests/bin/*
/ShoppingTests/obj/*
/.vs/TddTemalabor/v16/.suo
/.vs/slnx.sqlite
/.vs/TddTemalabor/v16/TestStore/0/000.testlog
/.vs/TddTemalabor/v16/TestStore/0/testlog.manifest
